<div class="home-container">
    <h1>Explore FoodieAI Features</h1>
  
    <div class="feature-grid">
      <div class="feature-box" routerLink="/what-can-i-cook">
        🍳 <span>What Can I Cook?</span>
      </div>
  
      <div class="feature-box" routerLink="/world-cuisine">
        🌍 <span>World Cusines</span>
      </div>
  
      <div class="feature-box" routerLink="/recipe-improviser">
        🧪 <span>Recipe Improviser</span>
      </div>
  
      <div class="feature-box" routerLink="/meal-mood-matcher">
        😋 <span>Meal Mood Matcher</span>
      </div>
      

    </div>
  </div>
 